
.pointer {
    cursor: pointer;
}

.container-docs {
    margin-top: 40px;;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-docs {
    margin: 5px;
}

.del-docs {
    margin-top: 5px;
    margin-right: 10px;
    float: right;
}

.img-docs {
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
}

.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.nav {
    margin-top: 10px;
    margin-bottom: 10px;
}